dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="304ccffb-b3fa-46ca-b113-e1a1b3d323b2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="8e7a2e22-6075-4a95-b849-d48974537e03" >
		<http:listener doc:name="Listener" doc:id="3d2cb04c-0e2d-403c-ac62-0f596e11836e" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hi Dummy"]' doc:name="Set Payload" doc:id="983366c5-ffce-4d8f-8045-9ed87e7d9824" />
	</flow>
</mule>
